{% extends "base.html" %}

{% block content %}


<section class="body-content ">

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <!--classic image post-->
                    <div class="blog-classic">
                        <div class="blog-post">
                            <div class="full-width">
                                <img src = {{ paintings.tiles }} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-md-5">
                 <div class = "data">
                     <div class = "row">
                         <div class = "col-md-6">
                             Naam schilder
                         </div>
                         <div class = "col-md-6">
                             {{ paintings.name }}
                         </div>
                     </div>
                     <div class = "row">
                         <div class = "col-md-6">
                            Title schilderij
                         </div>
                         <div class = "col-md-6">
                             {{ paintings.title }}
                         </div>
                     </div>


                 </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}