
html {
  background: url('/img/old-wall.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color : transparent ;
}

img {
   border-style: solid;
   border-width: 138px 200px 180px 230px;
   -moz-border-image: url(https://s12.postimg.org/pwh5ve0lp/FRAME_1.png) 138 233 204 244 stretch;
   -webkit-border-image: url(https://s12.postimg.org/pwh5ve0lp/FRAME_1.png) 138 233 204 244 stretch;
   -o-border-image: url(https://s12.postimg.org/pwh5ve0lp/FRAME_1.png) 138 233 204 244 stretch;
   border-image: url(https://s12.postimg.org/pwh5ve0lp/FRAME_1.png) 138 200 180 230 stretch;
}